@import 'variables';
@import 'mixins';



body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "RobotoRegular", sans-serif;
	overflow-x: hidden;
}
.hidden {
	display: none;
}

header {
  background-color: $color;
  height: 200px;
}

//ALWAYS END
@import 'media';